
<div class="content">
  <strong ng-show="!works.works"> Loading...</strong>
    <div ng-repeat="work in works.works | filter:{featured:true} | orderBy:'date':true">
      <div class="work">
        <a ng-href="{{work.link.href}}" title="{{work.link.value}}" target="_blank">
          <img class="icon" ng-src="images/{{work.image}}" alt="{{work.title}}"/>
        </a>
        <span class="title">{{work.title}}</span>
        <span class="category">{{work.category}}</span>
        <span class="date">{{work.date}}</span>
        <span class="description">{{work.description}}</span>
      </div>
    </div>
  </div>