<div class="widget">
  <form name="create-user-form" id="create-user-form" method="post">
    <div class="form-group">
      <label for="id">work name</label>
      <input type="text" id="id" name="id" required value="{{input.id}}" />
    </div>
    <div class="form-group">
      <label for="image">image</label>
      <input type="text" id="image" name="image" required value="{{input.image}}" />
    </div>
    <div class="form-group">
      <label for="featured">featured</label>
      <input type="text" id="featured" name="featured" required value="{{input.featured}}" />
    </div>
    <div class="form-group">
      <label for="completion">Completed?</label>
      <input type="text" id="completion" name="completion" required value="{{input.completion}}" />
    </div>
    <div class="form-group">
      <label for="type">type</label>
      <input type="text" id="type" name="type" required value="{{input.type}}" />
    </div>
    <div class="form-group">
      <label for="participation">participation</label>
      <input type="text" id="participation" name="participation" required value="{{input.participation}}" />
    </div>
    <div class="form-group">
      <label for="title">title</label>
      <input type="text" id="title" name="title" required value="{{input.title}}" />
    </div>
    <div class="form-group">
      <label for="category">category</label>
      <input type="text" id="category" name="category" required value="{{input.category}}" />
    </div>
    <div class="form-group">
      <label for="date">date</label>
      <input type="text" id="date" name="date" required value="{{input.date}}" />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" id="description" name="description" required value="{{input.description}}" />
    </div>
    <div class="form-group">
      <label for="link">link</label>
      <input type="text" id="link" name="link" required value="{{input.link}}" />
    </div>
    <div class="form-submit">
      <input type="submit" value="Add work to portfolio" />
    </div>
    <span style="color:red;">{{error}}</span>
  </form>
</div>
